<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.ChartMapper" >
  <select id="sex" resultType="java.util.Map">
    select gender,count(gender) sum from employee group by gender
  </select>
</mapper>